.file-preview-box {
    width: 100%;
    min-height: 500px;
    border: 1px solid #d0d0d0;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.file-preview-box img {
    max-width: 100%;
}

.text-viewer {
    white-space: pre-wrap;
    font-size: 15px;
    padding: 10px;
}
